
.react-calendar {
    width: 400px;
    max-width: 91%;
    height: 360px;
    border-color: #1D1D41;
    background-color: #1D1D41;
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);*/
    /*line-height: 1.125em;*/
}

/*달력 상단 년/월 글씨 커스텀*/
.react-calendar__navigation__label > span {
}
.react-calendar__navigation button {
    min-width: 40px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
    color: white;
}
.react-calendar__navigation button >  {
    color: black;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #1D1D41;
}
.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}
/* 요일 표시 */
abbr[title] {
    color: #AEABD8;
    text-decoration: none;
}

/* 주말 */
.react-calendar__month-view__days__day--weekend {
    color: white;
}

/*날짜 높이*/
.tile {
    height: 10px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 6px;
}
.react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
}
.react-calendar__tile--active {
    /*background: #6f48eb;*/
    border-radius: 6px;
    font-weight: bold;
    color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #6f48eb;
    color: white;
}